<div *ngIf="rockets; else showLoading">
    <mat-card *ngFor="let rocket of rockets" class=small-card>
        <mat-card-header>
            <mat-card-title>{{rocket.rocket_name}}</mat-card-title>
            <mat-card-subtitle >Description: {{rocket.description}}</mat-card-subtitle>
        </mat-card-header>     
        <img mat-card-image src={{rocket.flickr_images}} alt="Photo of the rocket">   
        <mat-card-actions>
            <button [routerLink]="['/rocket', rocket.rocket_id]">More detail</button>    
        </mat-card-actions>        
    </mat-card>
</div>

<ng-template #showLoading>
    <div class="loadingSpinner">
      <mat-progress-spinner color={{color}} mode={{mode}}></mat-progress-spinner>
    </div>
</ng-template>