<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Web 304 * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * Assignment 2 * * * * * * * * * * * * * *  -->
<!-- * * * * * * * * * April 12th 2020 * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- <app-header dataFromApp="{{year}}"></app-header> -->
<app-header [dataFromApp]=year></app-header>
<div class="content">
  <router-outlet></router-outlet>
  Data emitted from footer component: {{childData}}
  <app-footer (dataEmitter)="captureEmittedData($event)"></app-footer>
</div>


